{% extends 'navigation.html.twig' %}

{% block content %}

    <div class="jumbotron">
        <div id="details" class="tabs-content">
            <p>Name: {{ firstName }} {{lastName}}</p><br/>
            <p>Address: {{ address }}</p><br/>
        </div>
    </div>

{% endblock %}

{% block body %}

{% endblock %}






